.section-2{
    background-image: url(/src/images/menu2.png);
    background-repeat:no-repeat;
    background-position: contain;
    height: 80vh;
    width: 100%;
    h1{
        color: rgb(234,70,61);
        font-size: 80px;
    }
}