p {
    color: white;
    font-family: Helvetica, sans-serif;
    margin: 25px 100px;
}

.section-3{
    background: no-repeat center/100% url(/src/images/about-us.jpg);
    height: 70vh;
    width: 100%;
    h1{
        color: white;
        font-size: 100px;
    }
}